apiVersion: apps/v1
kind: Deployment
metadata:
  name: estoque-deployment
spec:
  replicas: 1
  
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: estoque
  template:
    metadata:
      labels:
        app: estoque
    spec:
      containers:
      - name: estoque
        image: cloud-loja-api-gateway:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
       
        resources:
          limits:
            cpu: "300m"
            memory: "128Mi"
          requests:
            cpu: "100m"
            memory: "64Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: estoque-service
spec:
  selector:
    app: estoque
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP